/* div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img{
    padding: 10px;
  } */
.scrollContainer {
    background-color: #4C243B;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 1200px;
  }
  
  .scroll-container{
    padding: 10px;
  }
.projectImages{
    width:500px;
    margin: 2%;
}


.resizeImages{
  width: 586px;
  
}

.projects{

  text-align: center;
  font-size: 52px;
  color: #4C243B;
  
  
}