
#techSkills{
    position: relative;
    /* left: 900px;
    bottom: 605px; */
    top: 600px;
    font-size: 64px;
    color: #4C243B;
    font-weight: 700;
    text-align: center;
}


#tech{
    width: 1080px;
    transition: width 2s, height 2s, transform 2s;
    position: relative;
    left: 270px;
    /* bottom: 150px; */
    top: 880px;
 
}

#tech:hover{

    transform: rotate(180deg);
}