
  *{
    /* box-sizing: border-box; */
    background-color: #E7DADD;
    
    }


.flipCard {
    width: 130px;
    height: 200px;
    margin-left: 15px;
    position: relative;
    left: 45%;
    top: 30vh;
    perspective: 1000px; 
  }
  img{
    position: relative;
    top: 48px;
    right: 15px;
    width: 1540px;

    
  }

  .cardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
transform-style: preserve-3d;
  }
  
  
  .flipCard:hover .cardInner {
    transform: rotateY(180deg);
  }
  

  .cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* -webkit-backface-visibility: hidden;  */
    backface-visibility: hidden;
  }
  
.cardBack{
    transform: rotateY(180deg);
}

