


.navBar {
  /* height: 100%;  */
  width: 100%;
  position: relative; 
  /* z-index: 1;  */
  top: 520px; 
  left: 15px;
  /* overflow-x: hidden;  */
  padding-top: 60px; 
  transition: 0.5s; 
}


.navLinks a {
  padding: 35px 15px 0px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  width: 15%;
  height: 20vh;
  background-color: #F5A6E6;
  color: #4C243B;

}


.navLinks a:hover {
  color: #f1f1f1;
}

/* .navLinks {
  position: absolute;
  top: 7%;
  right: 35em;
  font-size: 36px;
  margin-left: 50px;
  background-color: #F5A6E6;
  color: #4C243B;


} */

.closeBtn{
  font-size: 36px;
  position: relative;
  left: 190px;
  top: 55px;
  background-color: #F5A6E6;
  color: #4C243B;
}


.closeBtn:hover{
  color: #f1f1f1;
}
/* 
#main {
  transition: margin-left .5s;
  padding: 20px;
} */

.hamburgerIcon{
font-size: 35px;
position: relative;
left: 1.5%;
color: #4C243B;
}

.hamburgerIcon:hover{
  color: #f1f1f1; 
}

@media screen and (max-height: 450px) {
  .navBar {padding-top: 15px;}
  .navBar a {font-size: 18px;}
}







