.navBar {
  
  width: 30%;
  position: absolute;
  top: auto;
  bottom: -45vw;

  z-index: 3;
 
 

  transition: 0.5s; 

}


.navLinks a {
  padding: 35px 15px 45px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  /* width: 100%;  */
  /* height: 100%; */
  
  background-color: #F5A6E6;
  color: #4C243B;


}


.navLinks a:hover {

  color: #f1f1f1;


}




.closeBtn{
  font-size: 36px;
  position: absolute;
  left: 90%;
  top: 20px;
  background-color: #F5A6E6;
  color: #4C243B;


}


.closeBtn:hover{
  color: #f1f1f1;
}


.hamburgerIcon{
font-size: 35px;
position: relative;
top: 37vw;
left: 1.5%;
color: #4C243B;
}

.hamburgerIcon:hover{
  color: #f1f1f1; 
}

@media screen and (max-height: 450px) {
  .navBar {padding-top: 15px;}
  .navBar a {font-size: 18px;}
}







