.contentContainer{

  position: relative;
  top:570px;
    left: 520px;
}

#portImage{
  width: 250px;
  margin-left: 360px;
  margin-top: 30px;
  margin-bottom: 80px;
  border-radius: 150px;
  border: 1px solid #4C243B; 
}
#aboutMeLink{
    text-align: center;
    margin-right: 580px;
    color: #4C243B;
    font-size: 52pt;
}

#aboutMeContent{

margin-right: 600px;
padding-left: -180px;


text-indent: 45px;
text-align: center;


}